body html {
    height: 100%;
}

body {
    background: url("assets/images/weather_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header {
    background-color: rgba(0,0,255, .6);
}

.container-fluid {
   
}

.userSearchButton {
    width: 90%;
}

#weatherData {
    border: 3px solid black;
    color: white;
    width: 50%;
}

#weatherDataList {
    list-style-type: none;
}

#fiveDayForecast {
    border: 3px solid black;
    width: 90%;
}

.fiveDayForecastEl {
    background-color: rgb(19, 2, 252);
    color: white;
    width: 100%;
    margin: 5px;
    border-radius: 20px;
}

.input-group {
    border: 3px solid black;
}

.searchList {
    list-style-type: none;
}

#fiveDayForecastIcon {
    border: 1px solid black;
}

#weatherDataIcon {
    float: left;
}
