body html {
    height: 100%;
}

body {
    background: url("assets/images/weather_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header {
    background-color: rgba(0,0,255, .6);
}

.container-fluid {
   
}

#weatherData {
    border: 3px solid black;
}
#fiveDayForecast {
    border: 3px solid black;
}

.fiveDayForecastEl {
    background-color: rgb(0, 233, 233);
    width: 80%;
    margin: 5px;
    border-radius: 20px;
}

.input-group {
    border: 3px solid black;
}

.searchList {
    list-style-type: none;
}

#fiveDayForecastIcon {
    border: 1px solid black;
}

#weatherDataIcon {
    float: right;
}
